
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Candidat-Profile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="Job Pro" />
	
    <meta name="keywords" content="Job Pro" />
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320" />
    <!--srart theme style -->
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" href="css/styl.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="css/style_II.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive2.css" />
    <!-- favicon links -->
    <link rel="shortcut icon" type="image/png" href="images/header/favicon.ico" />
</head>

<body>
    <!-- preloader Start -->
    <div id="preloader">
        <div id="status"><img src="images/header/loadinganimation.gif" id="preloader_image" alt="loader">
        </div>
    </div>
    <!-- Top Scroll End -->
    <!-- Top Header Wrapper Start -->
    <div class="jp_top_header_main_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="jp_top_header_left_wrapper">
                        <div class="jp_top_header_left_cont">
                            <p><i class="fa fa-phone"></i> &nbsp;Phone &nbsp;+229 00 00 00 00</p>
                            <p class=""><i class="fa fa-envelope"></i> &nbsp;Email :&nbsp;&nbsp;ishede@gmail.com<a
                       href="#"><span class="__cf_email__" ></span></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="jp_top_header_right_wrapper">
                        <div class="jp_top_header_right_cont">
                            <ul>
                                <li><a href="inscription "><i class="fa fa-user"></i>&nbsp; INSCRIPTION</a></li>
                                <li><a href="login "><i class="fa fa-sign-in"></i>&nbsp; CONNEXION</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- Top Header Wrapper End -->
	<!-- Header Wrapper Start -->
	<div class="jp_top_header_img_wrapper" >
		<div class="gc_main_menu_wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 hidden-xs hidden-sm full_width">
						<div class="gc_header_wrapper">
							<div class="gc_logo">
								<a href="index ">
									<img src="images/index_vi/logo.png" alt="Logo" title="Job Pro" class="img-responsive">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 center_responsive">
						<div class="header-area hidden-menu-bar stick" id="sticker">
							<!-- mainmenu start -->
							<div class="mainmenu">
								<div class="gc_right_menu">
									<ul>
										<li id="search_button">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_3" x="0px" y="0px" viewBox="0 0 451 451" style="enable-background:new 0 0 451 451;" xml:space="preserve">
												<g>
													<path id="search" d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3   s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4   C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3   s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z" fill="#00e2bd" />
												</g>
											</svg>
										</li>
										<li>
											<div id="search_open" class="gc_search_box">
												<input type="text" placeholder="Search here">
												<button><i class="fa fa-search" aria-hidden="true"></i>
												</button>
											</div>
										</li>
									</ul>
								</div>
								<ul class="float_left">
                                    <li class="has-mega gc_main_navigation"><a href="index_vi " class="gc_main_navigation"> Accueil&nbsp;</a>
                                   
                                    <li class="has-mega gc_main_navigation"><a href="#" class="gc_main_navigation">  Offres&nbsp;<i class="fa fa-angle-down"></i></a>
                                        <!-- mega menu start -->
                                        <ul>
                                            <li class="parent"><a href="listing_right ">Liste d'offres</a></li>
                                            <li class="parent"><a href="listing_single ">Information sur l'offre</a></li>

                                        </ul>
                                    </li>
                                    <li class="parent gc_main_navigation"><a href="#" class="gc_main_navigation">Menu &nbsp;<i class="fa fa-angle-down"></i></a>
                                        <!-- sub menu start -->
                                        <ul>
                                           
                                            <li class="parent"><a href="listing_right ">Voir les offres disponible</a></li>
                                            <li class="parent"><a href="#">Voir mes candidature</a></li>
                                            <li class="parent"><a href="candidat ">Mise à jour</a></li>
                                            
                                               
                                        </ul>
                                        <!-- sub menu end -->
                                    </li>
									<li class="has-mega gc_main_navigation"><a href="#" class="gc_main_navigation">  A propos&nbsp;</a>
                                        <!-- mega menu start -->
                                        
                                    </li>
                                   
                                    <li class="gc_main_navigation parent"><a href="contact " class="gc_main_navigation">Contact</a></li>
                                </ul>
							</div>
							<!-- mainmenu end -->
							<!-- mobile menu area start -->
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
    <!-- Header Wrapper End -->
	  <!-- jp Tittle Wrapper Start -->
    <div class="jp_tittle_main_wrapper">
        <div class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                            <h2>Candidat-Profile</h2>
                        </div>
                        <div class="jp_tittle_breadcrumb_main_wrapper">
                            <div class="jp_tittle_breadcrumb_wrapper">
                                <ul>
                                    <li><a href="#">Home</a> <i class="fa fa-angle-right"></i></li>
                                    <li><a href="#">Pages</a> <i class="fa fa-angle-right"></i></li>
                                    <li>Profil du candidat</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp Tittle Wrapper End -->
    <!-- jp profile Wrapper Start -->
	<div class="jp_cp_profile_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="jp_cp_left_side_wrapper">
						<div class="jp_cp_left_pro_wallpaper">
							<img src="images/content/cp1.png" alt="profile_img">
							<h2>John Doe</h2>
							<p>UI/UX Designer in Dewas</p>
							
						</div>
						
					</div>
                   
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >
					<div class="jp_cp_right_side_wrapper">
						<div class="jp_cp_right_side_inner_wrapper">
							<h2>PERSONAL DETAILS</h2>
							<table>
                                <tbody>
                                    <tr>
                                        <td class="td-w25">Nom </td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">John Doe</td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">Prénom</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">------</td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">Email</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65"><a href="https://www.webstrot.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ed9e989d9d829f99ad88958c809d8188c38e8280">[email&#160;protected]</a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">Phone</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">+229 45 78 15 35</td>
                                    </tr>
                                   
                                    <tr>
                                        <td class="td-w25">Qualification</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">B.E.</td>
                                    </tr>
                                 
                                </tbody>
                            </table>
						</div>
					</div>
				</div>
			</div>
		
				
				<div  style="text-align: center; margin-top:25px">
					
					<style>
						table {
						  border-collapse: collapse;
						  width: 100%;
						  margin-bottom: 20px;
						}
				  
						th, td {
						  padding: 8px;
						  text-align: left;
						  border-bottom: 1px solid #ddd;
						}
				  
						th {
						  background-color: #f2f2f2;
						}
				  
						.action-buttons button {
						  margin-right: 10px;
						}
					  </style>
					<h1 class="" style="text-align: center; margin-top:25px; background-color: burlywood;">Suivre mes candidatures</h1>
    
					<table>
						<thead></thead>
					  <tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Adresse e-mail</th>
						<th>Offre d'emploi</th>
						<th>Date Candidature</th>
						<th>État de la candidature</th>
						<th></th>
						
						
							
						</th>
					  </tr>
					  
					  <tr>
						<td>Pierre</td>
						<td>Leblanc</td>
						<td>pierre.leblanc@gmail.com</td>
						<td>Ingénieur logiciel</td>
						<td>21-05-2023</td>
						<td>Acceptée</td>
						
					  </tr>
					  
					</table>
				</div>
				
			</div>
		</div>
		
   
    <!-- jp downlord Wrapper End -->
	<!-- jp Newsletter Wrapper Start -->
    <div class="jp_main_footer_img_wrapper">
        <div class="jp_newsletter_img_overlay_wrapper"></div>
        <div class="jp_newsletter_wrapper">
            
        
        <!-- jp Newsletter Wrapper End -->
        <!-- jp footer Wrapper Start -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="jp_footer_logo_wrapper">
                <div class="jp_footer_logo">
                    <a href="#"><img src="images/content/k.png" alt="footer_logo" /></a>
                </div>
                <div class="jp_bottom_footer_left_cont">
                    <p>© 2022-23 ISHEDE. Projet de soutenance: Gestion de recrutement</p>
                </div>
            </div>
        </div>
       
            
    </div>
    <!-- jp footer Wrapper End -->
	<!--main js file start-->
    <script data-cfasync="false" src="https://www.webstrot.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery_min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.menu-aim.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/custom_II.js"></script>
    <!--main js file end-->
</body>


</html>