<!DOCTYPE html>

<html lang="en">

    <meta charset="utf-8" />
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="ISHEDE" />
    <meta name="keywords" content="ISHEDE" />
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320" />
    <!--srart theme style -->
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="css/style_II.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive2.css" />
    <!-- favicon links -->
    <link rel="shortcut icon" type="image/png" href="images/header/favicon.ico" />
</head>

<body>
    <!-- preloader Start -->
    <div id="preloader">
        <div id="status"><img src="images/header/loadinganimation.gif" id="preloader_image" alt="loader">
        </div>
    </div>
    <!-- Top Scroll End -->
    <!-- Top Header Wrapper Start -->
    <div class="jp_top_header_main_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="jp_top_header_left_wrapper">
                        <div class="jp_top_header_left_cont">
                            <p><i class="fa fa-phone"></i> &nbsp;Phone &nbsp;+229 00 00 00 00</p>
                            <p class=""><i class="fa fa-envelope"></i> &nbsp;Email :&nbsp;&nbsp;ishede@gmail.com<a
                       href="#"><span class="__cf_email__" ></span></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="jp_top_header_right_wrapper">
                        <div class="jp_top_header_right_cont">
                            <ul>
                                <li><a href="inscription"><i class="fa fa-user"></i>&nbsp; INSCRIPTION</a></li>
                                <li><a href="login"><i class="fa fa-sign-in"></i>&nbsp; CONNEXION</a></li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Header Wrapper End -->
    <!-- Header Wrapper Start -->
    <div class="jp_top_header_img_wrapper" >
		<div class="gc_main_menu_wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 hidden-xs hidden-sm full_width">
						<div class="gc_header_wrapper">
							<div class="gc_logo">
								<a href="index">
									<img src="images/index_vi/logo.png" alt="Logo" title="Job Pro" class="img-responsive">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 center_responsive">
						<div class="header-area hidden-menu-bar stick" id="sticker">
							<!-- mainmenu start -->
							<div class="mainmenu">
								<div class="gc_right_menu">
									<ul>
										<li id="search_button">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_3" x="0px" y="0px" viewBox="0 0 451 451" style="enable-background:new 0 0 451 451;" xml:space="preserve">
												<g>
													<path id="search" d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3   s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4   C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3   s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z" fill="#00e2bd" />
												</g>
											</svg>
										</li>
										<li>
											<div id="search_open" class="gc_search_box">
												<input type="text" placeholder="Search here">
												<button><i class="fa fa-search" aria-hidden="true"></i>
												</button>
											</div>
										</li>
									</ul>
								</div>
								<ul class="float_left">
                                    <li class="has-mega gc_main_navigation"><a href="index_vi" class="gc_main_navigation">  Accueil&nbsp;</a>
                                   
                                    <li class="has-mega gc_main_navigation"><a href="#" class="gc_main_navigation">  Offres&nbsp;<i class="fa fa-angle-down"></i></a>
                                        <!-- mega menu start -->
                                        <ul>
                                            <li class="parent"><a href="listing_right">Liste d'offres</a></li>
                                            <li class="parent"><a href="listing_single">Information sur l'offre</a></li>

                                        </ul>
                                    </li>
                                    <li class="parent gc_main_navigation"><a href="#" class="gc_main_navigation">Utilisateur &nbsp;<i class="fa fa-angle-down"></i></a>
                                        <!-- sub menu start -->
                                        <ul>
                                           
                                            <li class="parent"><a href="company_listing">Listes d'entreprise</a></li>
                                            <li class="parent"><a href="company_listing_single">Company-Single</a></li>
                                            <li class="parent"><a href="candidate_listing">Liste des candidats</a></li>
                                            <li class="parent"><a href="candidate_profile">Profil Candidat</a></li>
                                           
                                               
                                        </ul>
                                        <!-- sub menu end -->
                                    </li>
									<li class="has-mega gc_main_navigation"><a href="#" class="gc_main_navigation">  A propos&nbsp;</a>
                                        <!-- mega menu start -->
                                        
                                    </li>
                                   
                                    <li class="gc_main_navigation parent"><a href="contact" class="gc_main_navigation">Contact</a></li>
                                </ul>
							</div>
							<!-- mainmenu end -->
							
							
						</div>
					</div>
					<!-- mobile menu area end -->
					
				</div>
			</div>
		</div>
	</div>
    <!-- Header Wrapper End -->
    <!-- jp Tittle Wrapper Start -->
    <div class="jp_tittle_main_wrapper">
        <div class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                            <h2>Register</h2>
                        </div>
                        <div class="jp_tittle_breadcrumb_main_wrapper">
                            <div class="jp_tittle_breadcrumb_wrapper">
                                <ul>
                                    <li><a href="#">Home</a> <i class="fa fa-angle-right"></i></li>
                                    <li><a href="#">Pages</a> <i class="fa fa-angle-right"></i></li>
                                    <li>Register</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp Tittle Wrapper End -->

    <!-- jp register wrapper start -->
    <div class="register_section">
        <!-- register_form_wrapper -->
        <div class="register_tab_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div role="tabpanel">

                            <!-- Nav tabs -->
                            <ul id="tabOne" class="nav register-tabs">
                                <li class="active"><a href="#contentOne-1" data-toggle="tab">Compte Candidat <br>
                                        <span>Je recherche un boulot</span></a>
                                </li>
                                
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active register_left_form" id="contentOne-1">
                                    <div class="jp_regiter_top_heading">
                                        <p>Renseigner vos informations </p>
                                    </div>
                                    <div class="row">
                                        <form action="#" data-toggle="validator">
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Nom</label>
                                                <input type="text" name="field-name" value="" placeholder="Entrer votre nom"
                                                    required>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Prenom</label>
                                                <input type="text" name="field-name" value=""
                                                    placeholder="Entrer votre prenom" required>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Email</label>
                                                <input type="email" name="field-name" value="" placeholder="Entrer votre Email"
                                                    required>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Password</label>
                                                <input id="password-field" type="password" name="Entrer votre mot de pass" value=""
                                                    onChange="onChange()" placeholder=" password*" required>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Confirm Password</label>
                                                <input type="password" name="confirm" value="" onChange="onChange()"
                                                    placeholder="Confirmer mot de pass" required>
                                            </div>

                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Sexe</label>
                                                <select name="" id=""> 
                                                    <option value="M">Masculin</option>
                                                    <option value="F">Feminin</option>
                                                </select>
                                            </div>

                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Date de Naissance</label>
                                                <input type="date" name="field-name" value=""
                                                    placeholder="Votre date de naissance" required>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Niveau</label>
                                                <select name="" id=""> 
                                                    <option value="CEP">CEP</option>
                                                    <option value="BEPC">BEPC</option>
                                                    <option value="BAC">BAC</option>
                                                    <option value="LICENCE">LICENCE</option>
                                                    <option value="MASTER">MASTER +</option>
                                                    
                                                </select>
                                            </div>

                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Nationnalité</label>
                                                <input type="text" name="field-name" value=""
                                                    placeholder="Nationnalité" required>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Adresse</label>
                                                <input type="text" name="field-name" value=""
                                                    placeholder="Votre adresse" required>
                                            </div>
                                            
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Qualification</label>
                                                <input type="text" name="field-name" value=""
                                                    placeholder="Qualification" required>
                                            </div>
                                            <!--Form Group-->
                                           
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Telephone</label>
                                                <input type="tel" id="phone" name="phone" placeholder="Appel/whatsApp"
                                                    pattern="[7-9]{1}[0-9]{9}" required>
                                            </div>
                                            <!--Form Group-->
                                          
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Ville</label>
                                                <input type="text" name="field-name" value="" placeholder="Votre ville"
                                                    required>
                                            </div>
                                           
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12 custom_input" required>
                                                <label for="Profil">Image</label>
                                                <input type='file' onchange="readURL(this);" />
                                                <div class="img-upload">
                                                    <img id="blah" src="images/content/base.png" alt="your image" />
                                                </div>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12 custom_input" required>
                                                <label for="cv">Upload CV</label>
                                                <input type="file" name="resume">
                                            </div>
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="check-box text-center">
                                                    <input type="checkbox" name="shipping-option" id="account-option_1">
                                                    &ensp;
                                                    <label for="account-option_1">J'accepte tous les<a href="#"
                                                            class="check_box_anchr">Terms et Conditions</a> d'utilisation</label>
                                                </div>
                                            </div>
                                            <div class="login_btn_wrapper register_btn_wrapper login_wrapper ">
                                                <button type="submit"
                                                    class="btn btn-primary login_btn">S'inscrire</button>
                                                <!-- <a type="submit" href="javascript:;" class="btn btn-primary login_btn"> register </a> -->
                                            </div>
                                        </form>
                                    </div>
                                    <div class="login_message">
                                        <p>Vous avez un compte ?<a href="#"> Se connecter </a> </p>
                                    </div>
                                </div>
                                
                            </div>
                            <p class="btm_txt_register_form">In case you are using a public/shared computer we recommend
                                that you logout to prevent any un-authorized access to your account</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp register wrapper end -->

    <!-- jp Newsletter Wrapper Start -->
    <div class="jp_main_footer_img_wrapper">
        <div class="jp_newsletter_img_overlay_wrapper"></div>
        <div class="jp_newsletter_wrapper">
            
        
        <!-- jp Newsletter Wrapper End -->
        <!-- jp footer Wrapper Start -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="jp_footer_logo_wrapper">
                <div class="jp_footer_logo">
                    <a href="#"><img src="images/content/k.png" alt="footer_logo" /></a>
                </div>
                <div class="jp_bottom_footer_left_cont">
                    <p>© 2022-23 ISHEDE. Projet de soutenance: Gestion de recrutement</p>
                </div>
            </div>
        </div>
       
            
    </div>
    <!-- jp footer Wrapper End -->
    <!--main js file start-->
    <script data-cfasync="false" src="https://www.webstrot.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery_min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.menu-aim.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/custom_II.js"></script>
    <!--main js file end-->


</body>


</html>