{% extends "base.html.twig" %}
{% block body %}
	<!-- Header Wrapper Start -->
	<div class="jp_top_header_img_wrapper" >
		<div class="gc_main_menu_wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 hidden-xs hidden-sm full_width">
						<div class="gc_header_wrapper">
							<div class="gc_logo">
								<a href="index">
									<img src="images/index_vi/logo.png" alt="Logo" title="Job Pro" class="img-responsive">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 center_responsive">
						<div class="header-area hidden-menu-bar stick" id="sticker">
							<!-- mainmenu start -->
							<div class="mainmenu">
								<div class="gc_right_menu">
									<ul>
										<li id="search_button">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_3" x="0px" y="0px" viewBox="0 0 451 451" style="enable-background:new 0 0 451 451;" xml:space="preserve">
												<g>
													<path id="search" d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3   s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4   C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3   s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z" fill="#00e2bd" />
												</g>
											</svg>
										</li>
										<li>
											<div id="search_open" class="gc_search_box">
												<input type="text" placeholder="Search here">
												<button><i class="fa fa-search" aria-hidden="true"></i>
												</button>
											</div>
										</li>
									</ul>
								</div>
								<ul class="float_left">
                                   
                                    <li class="has-mega gc_main_navigation"><a href="#" class="gc_main_navigation">  Offres&nbsp;<i class="fa fa-angle-down"></i></a>
                                        <!-- mega menu start -->
                                        <ul>
                                            <li class="parent"><a href="listing_right">Liste d'offres</a></li>
                                            <li class="parent"><a href="listing_single">Information sur l'offre</a></li>

                                        </ul>
                                    </li>
                                    <li class="parent gc_main_navigation"><a href="#" class="gc_main_navigation">Utilisateur &nbsp;<i class="fa fa-angle-down"></i></a>
                                        <!-- sub menu start -->
                                        <ul>
                                           
                                            <li class="parent"><a href="company_listing">Listes d'entreprise</a></li>
                                            <li class="parent"><a href="company_listing_single">Company-Single</a></li>
                                            <li class="parent"><a href="candidate_listing">Liste des candidats</a></li>
                                            <li class="parent"><a href="candidate_profile">Profil Candidat</a></li>
                                           
                                               
                                        </ul>
                                        <!-- sub menu end -->
                                    </li>
									<li class="has-mega gc_main_navigation"><a href="#" class="gc_main_navigation">  A propos&nbsp;</a>
                                        <!-- mega menu start -->
                                        
                                    </li>
                                   
                                    <li class="gc_main_navigation parent"><a href="contact" class="gc_main_navigation">Contact</a></li>
                                </ul>
							</div>
							<!-- mainmenu end -->
							<!-- mobile menu area start -->
							<header class="mobail_menu">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-6 col-sm-6">
											<div class="gc_logo">
												<a href="index">
													<img src="images/index_vi/logo.png" alt="Logo" title="Grace Church">
												</a>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6">
											<div class="cd-dropdown-wrapper">
												<a class="house_toggle" href="#0">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.177 31.177" style="enable-background:new 0 0 31.177 31.177;" xml:space="preserve" width="25px" height="25px">
														<g>
															<g>
																<path class="menubar" d="M30.23,1.775H0.946c-0.489,0-0.887-0.398-0.887-0.888S0.457,0,0.946,0H30.23    c0.49,0,0.888,0.398,0.888,0.888S30.72,1.775,30.23,1.775z" fill="#00e2bd" />
															</g>
															<g>
																<path class="menubar" d="M30.23,9.126H12.069c-0.49,0-0.888-0.398-0.888-0.888c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,8.729,30.72,9.126,30.23,9.126z" fill="#00e2bd" />
															</g>
															<g>
																<path class="menubar" d="M30.23,16.477H0.946c-0.489,0-0.887-0.398-0.887-0.888c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,16.079,30.72,16.477,30.23,16.477z" fill="#00e2bd" />
															</g>
															<g>
																<path class="menubar" d="M30.23,23.826H12.069c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,23.43,30.72,23.826,30.23,23.826z" fill="#00e2bd" />
															</g>
															<g>
																<path class="menubar" d="M30.23,31.177H0.946c-0.489,0-0.887-0.396-0.887-0.887c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.398,0.888,0.888C31.118,30.78,30.72,31.177,30.23,31.177z" fill="#00e2bd" />
															</g>
														</g>
													</svg>
												</a>
												<nav class="cd-dropdown">
                                                    <h2><a href="#">ISH<span>EDE</span></a></h2>
                                                    <a href="#0" class="cd-close">Close</a>
                                                    <ul class="cd-dropdown-content">
                                                        <li>
                                                            <form class="cd-search">
                                                                <input type="search" placeholder="Search...">
                                                            </form>
                                                        </li>
                                                        <li class="has-children">
                                                            <a href="#">Acceuil</a>

                                                            
                                                           
                                                        </li>
                                                        <!-- .has-children -->


                                                        <li class="has-children">
                                                            <a href="#">Listing</a>

                                                            <ul class="cd-secondary-dropdown is-hidden">
                                                                <li class="go-back"><a href="#0">Menu</a></li>
                                                                

                                                                <li>
                                                                    <a href="listing_single">listing-Single</a>
                                                                </li>
                                                                <!-- .has-children -->

                                                            </ul>
                                                            <!-- .cd-secondary-dropdown -->
                                                        </li>
                                                        <!-- .has-children -->
                                                        <li class="has-children">
                                                            <a href="#">Utilisateur</a>

                                                            <ul class="cd-secondary-dropdown is-hidden">
                                                                <li class="go-back"><a href="#0">Menu</a></li>
																<li><a href="company_listing">Liste des entreprises</a></li>
																<li><a href="company_listing_single">Company-Single</a></li>
																<li><a href="candidate_listing">Liste des candidat</a></li>
																<li><a href="candidate_profile">Profil Candidat</a></li>
                                                                <!-- .has-children -->

                                                            </ul>
                                                            <!-- .cd-secondary-dropdown -->
                                                        </li>
														<li class="has-children">
                                                            <a href="about.php">A propos</a>

                                                            
                                                            <!-- .cd-secondary-dropdown -->
                                                        </li>
                                                        <!-- .has-children -->
                                                        <li class="has-children">
                                                            <a href="#">Blog</a>

                                                            <ul class="cd-secondary-dropdown is-hidden">
                                                                <li class="go-back"><a href="#0">Menu</a></li>
                                                                <li>
                                                                    <a href="blog_left">Blog-Left</a>
                                                                </li>
                                                                <!-- .has-children -->

                                                                <li>
                                                                    <a href="blog_right">Blog-Right</a>
                                                                </li>
                                                                <!-- .has-children -->

                                                               
                                                            </ul>
                                                            <!-- .cd-secondary-dropdown -->
                                                        </li>
                                                        <!-- .has-children -->
                                                        <li>
                                                            <a href="contact">Contact</a>
                                                        </li>
														<li>
                                                            <a href="register">Sign Up</a>
                                                        </li>
														<li>
                                                            <a href="login">Login</a>
                                                        </li>

                                                    </ul>
                                                    <!-- .cd-dropdown-content -->



                                                </nav>
												<!-- .cd-dropdown -->
											</div>
										</div>
									</div>
								</div>
								<!-- .cd-dropdown-wrapper -->
							</header>
						</div>
					</div>
					<!-- mobile menu area end -->
					<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">
						<div class="jp_navi_right_btn_wrapper">
							<ul>
								<li><a href="inscription"><i class="fa fa-user"></i>&nbsp; INSCRIPTION</a>
								</li>
								<li><a href="login"><i class="fa fa-sign-in"></i>&nbsp; CONNEXION</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Header Wrapper End -->
	<!-- map Wrapper Start -->
	<div class="jp_map_indx_wrapper">
		<div class="jb_indexvi_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<div class="jp_slider_form_main_wrapper">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="jp_job_heading">
									<h1><span>+ de 3000</span> Offres </h1>
									<p>Trouver un emploie, Recruter & Réaliser vos rêves</p></div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="jp_slider_form_input">
									<input type="text" placeholder="Keyword e.g. (Job Title, Description, Tags)">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="jp_slider_form_location_wrapper">	<i class="fa fa-dot-circle-o first_icon"></i>
									<select>
										<option>Select Location</option>
										<option>Select Location</option>
										<option>Select Location</option>
										<option>Select Location</option>
										<option>Select Location</option>
									</select><i class="fa fa-angle-down second_icon"></i>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="jp_slider_form_location_wrapper">	<i class="fa fa-th-large first_icon"></i>
									<select>
										<option>Category</option>
										<option>Category</option>
										<option>Category</option>
										<option>Category</option>
										<option>Category</option>
									</select><i class="fa fa-angle-down second_icon"></i>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="jp_slider_form_location_wrapper">	<i class="fa fa-line-chart first_icon"></i>
									<select>
										<option>Experience</option>
										<option>Experience</option>
										<option>Experience</option>
										<option>Experience</option>
										<option>Experience</option>
									</select><i class="fa fa-angle-down second_icon"></i>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="jp_slider_form_btn_wrapper">
									<ul>
										<li><a href="#"><i class="fa fa-search"></i>&nbsp; Recherche"</a>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">
					<div class="jp_banner_right_img">
						<img src="images/index_vi/banner_image.png" alt="img">
					</div>
				</div>
			</div>
		</div>
		<!-- jp tittle slider Wrapper Start -->
	</div>
	<div class="jp_banner_jobs_categories_wrapper">
		<div class="container">
			<div class="jp_top_jobs_category_wrapper jp_job_cate_left_border jp_job_cate_left_border_bottom">
				<div class="jp_top_jobs_category"> <i class="fa fa-code"></i>
					<h3><a href="#">Devellopeur</a></h3>
					<p>(240 offres)</p>
				</div>
			</div>
			<div class="jp_top_jobs_category_wrapper jp_job_cate_left_border_bottom">
				<div class="jp_top_jobs_category"> <i class="fa fa-laptop"></i>
					<h3><a href="#">Science technologie</a></h3>
					<p>(504 offres)</p>
				</div>
			</div>
			<div class="jp_top_jobs_category_wrapper jp_job_cate_left_border_bottom">
				<div class="jp_top_jobs_category"> <i class="fa fa-bar-chart"></i>
					<h3><a href="#">Gestion</a></h3>
					<p>(1250 offres)</p>
				</div>
			</div>
			<div class="jp_top_jobs_category_wrapper jp_job_cate_left_border_res">
				<div class="jp_top_jobs_category"> <i class="fa fa-medkit"></i>
					<h3><a href="#">Medical</a></h3>
					<p>(202 offres)</p>
				</div>
			</div>
			<div class="jp_top_jobs_category_wrapper">
				<div class="jp_top_jobs_category"> <i class="fa fa-university"></i>
					<h3><a href="#">Ouvrier</a></h3>
					<p>(1457 offres)</p>
				</div>
			</div>
			<div class="jp_top_jobs_category_wrapper">
				<div class="jp_top_jobs_category"> <i class="fa fa-th-large"></i>
					<h3><a href="#">Toute les offres</a></h3>
					<p>(+2000 offres)</p>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- jp Hiring company Wrapper End -->
	<!-- jp recent jobs Wrapper Start -->
	<div class="jp_recent_job_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="cc_featured_product_main_wrapper">
						<div class="jp_hiring_heading_wrapper jp_job_post_heading_wrapper">
							<h2>Les offres récentes</h2>
						</div>
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#best" aria-controls="best" role="tab" data-toggle="tab">Featured</a>
							</li>
							<li role="presentation"><a href="#hot" aria-controls="hot" role="tab" data-toggle="tab">A distance</a>
							</li>
							<li role="presentation"><a href="#trand" aria-controls="trand" role="tab" data-toggle="tab">A temps partiel</a>
							</li>
							<li role="presentation"><a href="#best" aria-controls="best" role="tab" data-toggle="tab"> A temps plein </a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="best">
							<div class="ss_featured_products">
								<div class="owl-carousel owl-theme">
									<div class="item" data-hash="zero">
										<div class="jp_job_post_main_wrapper_cont">
											<div class="jp_job_post_main_wrapper">
												<div class="row">
													<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
														<div class="jp_job_post_side_img">
															<img src="images/content/job_post_img1.jpg" alt="post_img" />
														</div>
														<div class="jp_job_post_right_cont">
															<h4>Developpeur(1 - 2 ans d'expérience)</h4>
															<p> Centre e4Afrika</p>
															<ul>
																
																<li><i class="fa fa-map-marker"></i>&nbsp; Cotonou , Cadjehoun</li>
															</ul>
														</div>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
														<div class="jp_job_post_right_btn_wrapper">
															<ul>
																<li><a href="#"><i class="fa fa-heart-o"></i></a>
																</li>
								
																<li><a href="login.php">Postuler</a>
																<li><a href="login.php">Voir</a></li>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											
										</div>
										<div class="jp_job_post_main_wrapper_cont jp_job_post_main_wrapper_cont2">
											<div class="jp_job_post_main_wrapper">
												<div class="row">
													<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
														<div class="jp_job_post_side_img">
															<img src="images/content/job_post_img1.jpg" alt="post_img" />
														</div>
														<div class="jp_job_post_right_cont">
															<h4>Technicien de laboratoire</h4>
															<p>SiL Bénin</p>
															<ul>
																
																<li><i class="fa fa-map-marker"></i>&nbsp; Akpakpa  , cité</li>
															</ul>
														</div>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
														<div class="jp_job_post_right_btn_wrapper">
															<ul>
																<li><a href="#"><i class="fa fa-heart-o"></i></a>
																</li>
																
																<li><a href="login.php">Postuler</a>
																<li><a href="login.php">Voir</a></li>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											
										</div>
										<div class="jp_job_post_main_wrapper_cont jp_job_post_main_wrapper_cont2">
											<div class="jp_job_post_main_wrapper">
												<div class="row">
													<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
														<div class="jp_job_post_side_img">
															<img src="images/content/career_img2.jpg" alt="post_img" />
														</div>
														<div class="jp_job_post_right_cont">
															<h4>Gestionnaire de boutique</h4>
															<p>Esprit Béni</p>
															<ul>
																
																<li><i class="fa fa-map-marker"></i>&nbsp; Akpakpa , Dego</li>
															</ul>
														</div>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
														<div class="jp_job_post_right_btn_wrapper">
															<ul>
																<li><a href="#"><i class="fa fa-heart-o"></i></a>
																</li>
																
																<li><a href="login.php">Postuler</a>
																<li><a href="login.php">Voir</a></li>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											
										</div>
										<div class="jp_job_post_main_wrapper_cont jp_job_post_main_wrapper_cont2">
											<div class="jp_job_post_main_wrapper">
												<div class="row">
													<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
														<div class="jp_job_post_side_img">
															<img src="images/content/job_post_img1.jpg" alt="post_img" />
														</div>
														<div class="jp_job_post_right_cont">
															<h4>Technicien de laboratoire</h4>
															<p>SiL Bénin</p>
															<ul>
																
																<li><i class="fa fa-map-marker"></i>&nbsp; Akpakpa  , cité</li>
															</ul>
														</div>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
														<div class="jp_job_post_right_btn_wrapper">
															<ul>
																<li><a href="#"><i class="fa fa-heart-o"></i></a>
																</li>
																
																<li><a href="login.php">Postuler</a>
																<li><a href="login.php">Voir</a></li>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											
										</div>
									</div>
									
										
									
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jp recent jobs Wrapper End -->
	<!-- jp best deal Wrapper Start -->
	<div class="jp_best_deal_main_wrapper">
		<div class="jp_counter_loverlay"></div>
		
	</div>
	
	<!-- jp testi slider Wrapper End -->
	<div class="jp_pricing_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="jp_best_deal_heading_wrapper">
						<div class="jp_pricing_heading ">
							<h4>Abonnement</h4>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="pricing_box1_wrapper">
						<div class="box1_heading_wrapper">
							<h4>1 mois</h4>
						</div>
						<div class="price_box1_wrapper">
							<div class="price_box1">
								<h1>1000<span>FCFA</span></h1>
								
							</div>
						</div>
						
						<div class="pricing_btn_wrapper">
							<div class="pricing_btn1">
								<ul>
									<li><a href="inscription"> Commencer</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="jp_pricing_label_wrapper"> <i class="fa fa-star"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="pricing_box1_wrapper">
						<div class="box1_heading_wrapper">
							<h4>6 mois</h4>
						</div>
						<div class="price_box1_wrapper">
							<div class="price_box1">
								<h1>5000<span>FCFA</span></h1>
								
							</div>
						</div>
						
						<div class="pricing_btn_wrapper">
							<div class="pricing_btn1">
								<ul>
									<li><a href="inscription"> Commencer</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="jp_pricing_label_wrapper"> <i class="fa fa-star"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="pricing_box1_wrapper">
						<div class="box1_heading_wrapper">
							<h4>1 ans</h4>
						</div>
						<div class="price_box1_wrapper">
							<div class="price_box1">
								<h1>10000<span>FCFA</span></h1>
								
							</div>
						</div>
						
						<div class="pricing_btn_wrapper">
							<div class="pricing_btn1">
								<ul>
									<li><a href="inscription"> Commencer</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="jp_pricing_label_wrapper"> <i class="fa fa-star"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- jp career Wrapper End -->
	{% endblock %}